*{
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom,aqua, yellowgreen,pink,green);
}
#Navbar{
  background-color: rgb(13, 55, 119);
  padding: 5px;
  margin-bottom: 3rem;
  font-family: elephant;
  display: flex;
  justify-content: space-around;
}

.title{
  color: white;
  text-decoration: none;
  font-size: 2rem;
}
.title:hover{
  color: darksalmon;
}

.active{
  color: red;
}

.text{
  margin-left: 5rem;
  font-size: 1.3rem;
}

.header{
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: 20vw 20vw;
  grid-gap: 15vh;
  justify-content: space-between;
}

h2{
  font-family: 'Secular One', sans-serif;
}

.butn{
  font-size: 1.3rem;
  padding: 0 2rem;
  border: 1px solid black;
  border-radius: 25px;
}

td{
  padding: 15px !important;
}

.algn{
  text-align: right;
}

.box{
  width: 65vw;
  margin: 20vh 6vw 10vh;
}

.editFields{
  width: 25vw;
  height: 6vh;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 0 5px;
}
.editFields:hover{
  border: 2px solid black;
}


.box2{
  width: 85vw;
  display: flex;
  justify-content: flex-end;
}

.butn2{
  font-size: 1.3rem;
  padding: 0.5rem 4rem;
  border: 1px solid black;
  border-radius: 25px;
  margin-left: 2vw;
}
.butn{
  padding:10px;
  font-size: 25px;
  color:blue;
  border:0px;
}.butn:hover{
  background-color: brown;
  color:whitesmoke;
}
input:focus{
background-color: aliceblue;
}
table{
  width:67%;
  text-align: center;
  margin: 0 auto;
  background-color: wheat;
}
table,tr,td{
  border:1px solid red;
}
thead{
  font-size: 25px;
  color:white;
  background-color: purple;
  text-align: left;
}
.title{
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-family: elephant;
}
.title:focus{
  color:yellow;
}

